<section id="cv">
    <header>
       <h1> {{'cv.title'| translate}}</h1>
        <app-technologie-skills></app-technologie-skills>
    </header>

        <section id="experience">
            <h2>Berufserfahrung</h2>
            <div class="timeline">
              <div class="timeline-item">
                <div class="timeline-date">Nov. 2023 – Aktuell</div>
                <div class="timeline-content">
                  <h3>Frontend Entwickler</h3>
                  <p><strong>Tecvia, Regensburg</strong></p>
                  <ul>
                    <li>Entwicklung mit Angular</li>
                    <li>Erstellung eines Fahrschulmanager-Systems</li>
                    <li>Entwicklung dynamischer PWA-Anwendungen und Webseiten</li>
                    <li>Responsive Design und Optimierung</li>
                    <li>Integration und Wartung von MWS-Systemen</li>
                    <li>Debugging und Erweiterung bestehender Projekte</li>
                    <li>Implementierung neuer Features</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Jan. 2023 – Mai 2023</div>
                <div class="timeline-content">
                  <h3>Frontend Entwickler</h3>
                  <p><strong>SET Engineering, Nürnberg</strong></p>
                  <ul>
                    <li>Angular-basierte Entwicklung dynamischer PWA-Anwendungen</li>
                    <li>Umsetzung responsiver Designs</li>
                    <li>Arbeiten mit MWS-Systemen</li>
                    <li>Debugging, Wartung und Tests</li>
                    <li>Entwicklung und Integration neuer Features</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Juni 2022 – Dez. 2022</div>
                <div class="timeline-content">
                  <h3>Frontend Entwickler</h3>
                  <p><strong>OrgaCard und Siemantel & Alt GmbH, Rednitzhembach</strong></p>
                  <ul>
                    <li>Entwicklung dynamischer responsiver Anwendungen mit Angular</li>
                    <li>Integration und Optimierung von MWS- und LWS-Systemen</li>
                    <li>Entwicklung eines Kiosk-E-Commerce-Systems mit Administrations-Tools</li>
                    <li>Debugging, Wartung und Tests</li>
                    <li>Implementierung neuer Features</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Dez. 2021 – Apr. 2022</div>
                <div class="timeline-content">
                  <h3>Weiterbildung als Frontend Entwickler</h3>
                  <p><strong>Cimdata, Nürnberg</strong></p>
                  <ul>
                    <li>HTML5 / CSS3 Grundkurs</li>
                    <li>JavaScript / ECMA Grund- und Aufbaukurs</li>
                    <li>Programmierung mit dem JavaScript-Framework React</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          

</section>


<section id="additional-info">
  <h2>Weitere Kenntnisse</h2>
  <div class="cards">
    <div class="card">
      <h3>Sprachen</h3>
      <ul>
        <li><strong>Ungarisch:</strong> Muttersprache</li>
        <li><strong>Deutsch:</strong> Niveau - verhandlungssicher</li>
        <li><strong>Slowakisch:</strong> Niveau B1</li>
        <li><strong>Englisch:</strong> Niveau A2</li>
      </ul>
    </div>

    <div class="card">
      <h3>Führerschein</h3>
      <p>Klasse B</p>
    </div>

    <div class="card">
      <h3>Persönliche Eigenschaften</h3>
      <ul>
        <li>Motiviert</li>
        <li>Zielstrebig</li>
        <li>Teamfähig</li>
        <li>Lösungsorientiert</li>
        <li>Flexibel</li>
        <li>Durchsetzungsstark</li>
        <li>Neugierig</li>
        <li>Freundlich</li>
        <li>Familienmensch</li>
        <li>Zuverlässig</li>
      </ul>
    </div>

    <div class="card">
      <h3>Hobbys</h3>
      <ul>
        <li>Fahrradfahren</li>
        <li>Bowling</li>
        <li>Lesen</li>
        <li>Spazieren</li>
        <li>Fremdsprachen lernen</li>
      </ul>
    </div>
  </div>
</section>
