<section id="cv">
    <header>
        <app-technologie-skills></app-technologie-skills>
    </header>

        <section id="experience">
            <h2>{{'cv.title'|translate}}</h2>
            <div class="timeline">
              <div class="timeline-item">
                <div class="timeline-date">Nov. 2023 – Aktuell</div>
                <div class="timeline-content">
                  <h3>{{'cv.experience.nov2023-current.title'|translate}}</h3>
                  <p><strong>Tecvia, Regensburg</strong></p>
                  <ul>
                    <li *ngFor="let task of 'cv.experience.nov2023-current.tasks' | translate">{{task}}</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Jan. 2023 – Mai 2023</div>
                <div class="timeline-content">
                  <h3>Frontend Entwickler</h3>
                  <p><strong>SET Engineering, Nürnberg</strong></p>
                  <ul>
                    <li *ngFor="let task of 'cv.experience.jan2023-may2023.tasks' | translate">{{task}}</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Juni 2022 – Dez. 2022</div>
                <div class="timeline-content">
                  <h3>Frontend Entwickler</h3>
                  <p><strong>{{'cv.experience.jun2022-dec2022.company'|translate}}</strong></p>
                  <ul>
                    <li *ngFor="let task of 'cv.experience.jun2022-dec2022.tasks' | translate">{{task}}</li>
                  </ul>
                </div>
              </div>
          
              <div class="timeline-item">
                <div class="timeline-date">Dez. 2021 – Apr. 2022</div>
                <div class="timeline-content">
                  <h3>{{'cv.experience.dec2021-apr2022.title'|translate}}</h3>
                  <p><strong>{{'cv.experience.dec2021-apr2022.company'|translate}}</strong></p>
                  <ul>
                    <li *ngFor="let task of 'cv.experience.dec2021-apr2022.tasks' | translate">{{task}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          

</section>


<section id="additional-info">
  <h2>{{'cv.additional-info.moreInfo'|translate}}</h2>
  <div class="cards">
    <div class="card">
      <h3>{{'cv.additional-info.languages.title'|translate}}</h3>
      <ul>
        <li *ngFor="let lang of 'cv.additional-info.languages.details' | translate">{{lang}} </li>
      </ul>
    </div>

    <div class="card">
      <h3>{{'cv.additional-info.driving-license.title'|translate}}</h3>
      <p>{{'cv.additional-info.driving-license.details'|translate}}</p>
    </div>

    <div class="card">
      <h3>{{'cv.additional-info.personal-attributes.title'|translate}}</h3>
      <ul>
        <li *ngFor="let det of 'cv.additional-info.personal-attributes.details' | translate">{{det}}</li>
      </ul>
    </div>

    <div class="card">
      <h3>{{'cv.additional-info.hobbies.title'|translate}}</h3>
      <ul>
        <li *ngFor="let det of 'cv.additional-info.hobbies.details' | translate">{{det}}</li>
      </ul>
    </div>
  </div>
</section>
