<section id="projects">
    <h2>Projekte</h2>
    <div class="project-cards">
      <app-project 
        [name]="'StepOne'" 
        [tools]="projects.stepOne.tools" 
        [image]="projects.stepOne.image"
        [desc]="'projects.stepOne.desc' | translate"
        [gallery]="projects.stepOne.gallery"
        [liveLink]="projects.stepOne.liveLink"
        [githubLink]="projects.stepOne.gitHubLink"
        ></app-project>     
    </div>
    <div class="project-cards">
      <app-project 
      [name]="'Liqui-Planner'" 
      [tools]="projects.liqui.tools" 
      [image]="projects.liqui.image"
      [desc]="'projects.liqui.desc' | translate"
      [gallery]="projects.liqui.gallery"
      [liveLink]="projects.liqui.liveLink"
      [githubLink]="projects.liqui.gitHubLink"
      ></app-project>  
    </div>
  </section>