<app-nav></app-nav>

<!-- hero -->
<div id="hero">
  <div class="content">
    <div class="image">
      <img src="/profil.jpeg" alt="Mein Profil Bild" loading="lazy" />
    </div>
    <div class="description">
      <h1>{{ "hello" | translate }} <span class="highlight">L.Peter</span></h1>
      <p>
        {{ "homeText.1" | translate }}
        <strong>{{ "homeText.2" | translate }}</strong>
        {{ "homeText.3" | translate }}
      </p>
      <p>
        {{ "homeText.4" | translate }}
        <strong>{{ "homeText.5" | translate }}</strong
        >, {{ "homeText.6" | translate }}
      </p>
      <button id="kontakt-btn" (click)="goToPart('contact')">{{ "nav.contact" | translate }}</button>
    </div>
  </div>
</div>

<div id="about">
  <app-about></app-about>
</div>

<div id="cv">
  <app-cv></app-cv>
</div>

<div id="portfolio">
  <app-projects></app-projects>
</div>

<div id="contact">
  <app-contact></app-contact>
</div>
