<app-nav></app-nav>

<!-- hero -->
<div class="hero">
    <div class="content">
      <div class="image">
        <img src="/profil.jpeg" alt="">
      </div>
      <div class="description">
        <h1>{{'hello'|translate}} <span class="highlight">L.Peter</span></h1>
        <p>{{'homeText.1'|translate}} <strong>{{'homeText.2'|translate}}</strong> {{'homeText.3'|translate}}</p>
        <p>{{'homeText.4'|translate}} <strong>{{'homeText.5'|translate}}</strong>, {{'homeText.6'|translate}}</p>
        <button id="kontakt-btn">{{'nav.contact'| translate}}</button>
      </div>
    </div>
</div>

<div id="about">
  <div class="container">
    <h2>About Me</h2>
    <p>
      Hello, I'm <span class="highlight">Peter Lakatos</span>, a passionate and dedicated Frontend Developer based in Nuremberg, Germany. With a strong background in Angular development and a proven track record of building dynamic, responsive, and user-friendly web applications, I bring creativity, precision, and technical expertise to every project I undertake.
    </p>
    <p>
      Over the years, I have honed my skills working for various companies, including Tecvia in Regensburg, SET Engineering in Nuremberg, and OrgaCard in Rednitzhembach. My work includes developing progressive web applications (PWAs), implementing modern design principles, optimizing existing solutions, and maintaining robust web systems. I have a knack for debugging and integrating new features to deliver seamless user experiences.
    </p>
    <p>
      I also have a strong foundation in web technologies like <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, and <strong>TypeScript</strong>, alongside advanced frameworks such as <strong>Angular</strong>, <strong>RxJS</strong>, and <strong>NgRX</strong>. In addition, I am proficient in tools like Git, Azure, and Jira, which ensure smooth project management and collaboration.
    </p>
    <p>
      Beyond work, I'm a curious learner and a family-oriented person who enjoys cycling, bowling, reading, and learning new languages. With fluency in Hungarian, strong proficiency in German, and basic knowledge of Slovak and English, I thrive in multicultural and collaborative environments.
    </p>
    <div class="links">
      <a href="https://github.com/Patyika1986" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/peter-lakatos-b99793216/" target="_blank">LinkedIn</a>
      <a href="https://portfolio-one-tau-55.vercel.app/home" target="_blank">Portfolio</a>
    </div>
  </div>
</div>
  


