<section id="gallery">
    <div class="row">
        <div class="tile html">HTML5</div>
        <div class="tile css">CSS3</div>
        <div class="tile js">JavaScript</div>
    </div>
    <div class="row">
        <div class="tile typescript">TypeScript</div>
        <div class="tile angular">Angular</div>
        <div class="tile rxjs">RxJS</div>
    </div>
    <div class="row">
        <div class="tile react">React</div>
        <div class="tile redux">Redux</div>
        <div class="tile sass">Sass</div>
    </div>
    <div class="row">
        <div class="tile vue">Vue.js</div>
        <div class="tile git">Git</div>
        <div class="tile node">Node.js</div>
        <div class="tile express">Express.js</div>
    </div>
  </section>
  <section class="gallery">
    <div class="row">
        <div class="tile scss">SCSS</div>
        <div class="tile bootstrap">Bootstrap</div>
        <div class="tile materialize">Materialize</div>
    </div>
    <div class="row">
        <div class="tile chart">Chart.js</div>
        <div class="tile npm">NPM</div>
        <div class="tile mysql">MySQL</div>
        <div class="tile firebase ">Firebase</div>

    </div>
    <div class="row">
        <div class="tile vercel">Vercel</div>
        <div class="tile github">GitHub</div>
        <div class="tile karma">Karma</div>
    </div>
  </section>